<form action="/registerUser" method="post" style="border:1px solid #ccc">
    <div id="form-container">
        
      <label for="user-name"><b>Full Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" required>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
  
      <label for="psw-repeat"><b>Confirm Password</b></label>
      <input type="password" placeholder="Repeat Password" name="repeat" required>
      

      <label class="radio-inline" style="margin-right: 50px;">
        <input type="radio" name="usertype" value="Passenger" checked>User account 
      </label>
      <label class="radio-inline">
        <input type="radio" name="usertype" value="Airline">Airline member
      
      <p class="form-text">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <p style="color:red"><%= errorMessage %></p>
  
      <div class="clearfix">
        <button type="submit" class="signupbtn">REGISTER</button>
      </div>
    </div>
  </form>