<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/images/favicon.ico" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/user_page.css">
    
        <title>Runway44</title>
</head>
<body>
    <section class="bg-primary" style="height: 350px; width: 100%;">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top p-1.5 rounded" style="background-color: white">
        <a class="navbar-brand" href="#">
            <h4><img src="/images/flightIcon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Runway44</h4>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#home"><b>Book a journey</b><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#RunningFlights"><b>Flight Number</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Passengers"><b>My Bookings</b></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="" method="post">
            <img src="/images/profileicon.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Log Out</button>
          </form>
        </div>
      </nav>
      <div class="container bg-light" style="height: 350px; position: relative; top: 50%; border-radius: 40px;">

      </div>
    </section>

</body>
</html>